BR2_aarch64=y
BR2_cortex_a55=y
BR2_KERNEL_HEADERS_6_3=y
BR2_PACKAGE_OVERRIDE_FILE="$(BR2_EXTERNAL_PINETAB2_BR_PATH)/override.mk"
BR2_GLOBAL_PATCH_DIR="$(BR2_EXTERNAL_PINETAB2_BR_PATH)/board/pine64/pinetab2/patches/"
BR2_TARGET_GENERIC_HOSTNAME="pinetab2"
BR2_TARGET_GENERIC_ISSUE="Welcome to PineTab2"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(BR2_EXTERNAL_PINETAB2_BR_PATH)/board/pine64/pinetab2v0/post-build.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="$(BR2_EXTERNAL_PINETAB2_BR_PATH)/board/pine64/pinetab2v0/post-image.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="6.3.9"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_PINETAB2_BR_PATH)/board/pine64/pinetab2/linux_defconfig"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="rockchip/rk3566-pinetab2-v0.1"
BR2_LINUX_KERNEL_DTB_OVERLAY_SUPPORT=y
BR2_LINUX_KERNEL_INSTALL_TARGET=y
BR2_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_GIT=y
BR2_TARGET_UBOOT_CUSTOM_REPO_URL="https://github.com/Kwiboo/u-boot-rockchip.git"
BR2_TARGET_UBOOT_CUSTOM_REPO_VERSION="rk3568-2023.07"
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="pinetab2-rk3566"
BR2_TARGET_UBOOT_NEEDS_DTC=y
BR2_TARGET_UBOOT_NEEDS_PYLIBFDT=y
BR2_TARGET_UBOOT_NEEDS_PYELFTOOLS=y
# BR2_TARGET_UBOOT_FORMAT_BIN is not set
BR2_TARGET_UBOOT_FORMAT_CUSTOM=y
BR2_TARGET_UBOOT_FORMAT_CUSTOM_NAME="u-boot.itb"
BR2_TARGET_UBOOT_SPL=y
BR2_TARGET_UBOOT_SPL_NAME="idbloader.img"
BR2_TARGET_UBOOT_CUSTOM_MAKEOPTS="BL31=$(BINARIES_DIR)/rkbin/bin/$(RKBIN_ATF_BIN) ROCKCHIP_TPL=$(BINARIES_DIR)/rkbin/bin/$(RKBIN_TPL_BIN)"
BR2_PACKAGE_HOST_DOSFSTOOLS=y
BR2_PACKAGE_HOST_GENIMAGE=y
BR2_PACKAGE_HOST_MTOOLS=y
BR2_TARGET_RKBIN=y
